body {
    background-color: #1f1f1f;
}
.luffy {
    height: 35px;
    width: auto;
    border-radius: 50%;
    display: flex;
}
#wrapper {
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgrey;
  }
  h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -35px;
    margin-left: 0;
    margin-right: 0;
    text-decoration: underline;
  }
  #notifications {
    display: flex;
    flex-direction: column;
  }
  .notification {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 122px;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .notification img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-right: 10px;
  }
  p {
    margin: 0;
    width: 148px;
  }
  .user {
    font-weight: bold;
  }
  .time {
    font-size: 12px;
    font-style: italic;
    text-align: right;
  }
  button {
    width: 280px;
    background-color: #02203c;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
  }
  button:hover {
    background-color: #001222;
    cursor: pointer;
  }